<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <div class="hittheliplogo">
    	<%= image_tag("hittheliplogo.png", class: "img-responsive hittheliplogo") %>
    </div>
  </div><!-- / panel-body -->
</div><!-- / panel -->