.hp_head {
	text-align: center;
	padding-top: 75px;
}

.hp_second_head {
	text-align: center;
}

.hit_the_lip_tshirt {
	margin: 0 auto;
}

.col-md-6 h2,p {
	text-align: center;
}

.main {
	width: 100%;
	color: black;
}

.panel-default {
		padding-top: 175px;
}

.shirt_image {
	margin-top: 0;
}

.edit_prod {
	text-align: center;
}

.edit_prod a {
	padding-right: 10px;
	text-align: center;
}