// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	padding-top: 35px;
}
.col-md-offset-4{
	margin-left: 0;
}
.product {
	padding-top: 100px;
}

.product p {
	margin-left: 0;
}
