
/* homepage headings */
* {
  margin: 0;
}
html, body {
  height: 100%;
}

.navbar-fixed-top {
	height: 15px;
}

.carousel-inner {
	margin-top: 50px;
	height: 250px;
}

.carousel-caption {
	color: black;
}

.carousel-inner img {
  margin: auto;
}

form {
	padding-top: 12px;
	padding-left: 440px;
}


/* footer */

