// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign_up {
	text-align: center;
	padding-top: 150px;
}

.sign_up_table {
	padding-left: 225px;
	
}

.log_in {
	text-align: center;
	padding-top: 150px;
}

.log_in_table {
padding-left: 225px;
	
}


.new_user{
padding-top: 25px;
}
	
#contact-form {
	padding-left: 150px;
}
