<p id="notice"><%= notice %></p>

<h3>Products</h3>

   
  <div class="container-fluid">
    <div class="row">
    	<% cache (cache_key_for_products) do %>
       		<%= render @products %>
       	<% end %>
      </div>
  </div>
  Rails.cache.write("foo", "bar")
puts Rails.cache.read("foo")
      


<br>

<%= link_to 'New Product', new_product_path %>
